@import url('site.css');
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 16px;
    margin-bottom: 60px;
}

.chuuou {
    display: flex;
    justify-content: center;
}

.strLeftdiv {
    display: flex;
    justify-content: left;
}

.form_conf {
    text-align: center;
}

    .form_conf form {
        display: inline-block;
    }

.selectdiv {
    font-weight: bold;
}

select::-ms-expand {
    display: none;
}

.selectdiv:after {
    font: 20px;
    color: #000000;
    font-weight: bold;
}

.selectdiv select {
    height: 50px;
    width: 310px;
    font-size: 22px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #000000;
    -ms-word-break: normal;
    word-break: normal;
    font-weight: bold;
    text-align: center;
}

.inputForm {
    min-height: 70px;
    height: auto;
    width: 350px;
    padding: 12px;
    font-size: 27px;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #000000;
    border-radius: 10px;
    -ms-word-break: normal;
    word-break: normal;
    font-weight: bold;
    text-align: center;
}

.customGreenBtn {
    color: azure;
    width: 11em;
    height: 4em;
    font-size: 200%;
    font-weight: bold;
    border-color: #32cd32;
    background: #32cd32;

    border-radius: 10px;
}

    .customGreenBtn:hover {
        color: floralwhite;
    }

.customGreenSmallBtn {
    color: azure;
    width: 12em;
    height: 2em;
    font-size: 180%;
    font-weight: bold;
    border-color: #32cd32;
    background: #32cd32;

    border-radius: 10px;
}

    .customGreenSmallBtn:hover {
        color: floralwhite;
    }

.customRedBtn {
    color: azure;
    width: 11em;
    height: 4em;
    font-size: 200%;
    font-weight: bold;
    border-color: #ff0000;
    background: #ff0000;

    border-radius: 10px;
}

    .customRedBtn:hover {
        color: floralwhite;
    }

.customSmallRedBtn {
    color: azure;
    width: 12em;
    height: 2em;
    font-size: 180%;
    font-weight: bold;
    border-color: #ff0000;
    background: #ff0000;

    border-radius: 10px;
}

    .customRedBtn:hover {
        color: floralwhite;
    }


.customBulueBtn {
    color: azure;
    width: 12em;
    height: 2em;
    font-size: 180%;
    font-weight: bold;
    /*    border-color: #0000FF;
    background: #0000FF;*/
    border-color: #0000cd;
    background: #0000cd;

    border-radius: 10px;
}

    .customBulueBtn:hover {
        color: floralwhite;
    }


.flash3s {
    animation: flash 3s linear infinite;
}

.flash1s {
    animation: flash 1s linear infinite;
}

@keyframes flash {
    80%, 100% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }
}


/* スイッチボタン　*/
input[type=checkbox] {
    transform: scale(2.5);
    margin: 5px 50px 20px 0;
}

.form-check-input[type='checkbox']:checked {
    background-color: red;
    border-color: red;
}


.styleBorderRadius {
    border-radius: 10px;
}


